body {
  overflow-x: hidden;
  color: var(--light-color);
  background: url("../img/space_background.jpg") no-repeat center center/cover;
  height: 170vh;
}

h1 {
  margin-top: 2rem;
}

.planet-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.planet-select {
  margin-top: 2rem;
}

.btn {
  margin-bottom: 2rem;
}

#earth-info img {
  width: 200px;
}

#body-info img {
  margin-top: 10px;
  width: 200px;
  visibility: hidden;
}

#distance {
  margin-top: 30px;
  visibility: hidden;
}

.body-animation {
  animation: bodyMove 5s forwards;
}

@keyframes bodyMove {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  100% {
    transform: translateY(130px);
    opacity: 1;
  }
}
